<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">

        <title>Email Verification</title>

        <!-- JS -->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

        <!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../Public/css/emailVerified.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../Public/images/favicon.png" />

    </head>
    <body>

        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper"><h4 class="text-center">Email Verification</h4>
                <center><i class="fa fa-envelope-o" id="Mail" aria-hidden="true"></i>
                    <h5 class="text-center">Please click the following link to verify your account</h5>
                    <p><a href="www.google.com">www.google.com</a></p>
                    </center>
                </div>
                <div class="templatemo_home_inner_wapper btn_wapper">
                 </div>
             </div>
         </section>

    </body>
</html>