<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">

    <title>Reset password</title>

    <!-- JS -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../Public/css/registerSuccessful.css">
    <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../Public/images/favicon.png"/>
    <script src="../../Public/js/forgotPassword.js"></script>


</head>

<body>

<!-- Home -->

<section id="templatemo_home">

    <div class="container">

        <div class="row">


            <div class="templatemo_home_inner_wapper">
                <h1 class="text-center">Problems signing in?</h1>
            </div>
            <div class="templatemo_home_inner_wapper">
                <center><p>Enter the email you registered with Cornucopia and we’ll send instructions to get you back on
                    your feet.</p></center>
            </div>

            <div class="templatemo_home_inner_wapper">

                <center>


                    <p class="col-lg-2 col-lg-offset-5">Email</p>

                    <input type="email" name="email" id="email" class="form-control col-lg-2 col-lg-offset-4" onBlur="">


                    <button type="button" id="send" style="margin-top: 11px; margin-left: 15px;"
                            class="btn btn-default col-lg-2">Send Recovery Code
                    </button>

                </center>
            </div>

            <div id="EmailInvalid"class="row" style="margin-top: 10px;display:none;">
                <center><span class=" col-lg-2 col-lg-offset-5" style="color:Red;font-size:17px;font-family: 'Microsoft YaHei UI Light'">Email Invalid</span></center>

            </div>
            <span id="enterRecoveryCode" style="display:none;">
            <div class="row">
<center>


                    <p class="col-lg-2 col-lg-offset-5">Recovery Code</p></center>
            </div>
 <div class="row">
     <center>
                <input type="text" style="width:400px;" name="recoveryCode" id="recoveryCode"
                       class="form-control col-lg-2 col-lg-offset-4">


</center>

 </div>

                <div id="CodeInvalid"class="row" style="margin-top: 10px;display:none;">
                  <center><span style="color:Red;font-size:17px;font-family: 'Microsoft YaHei UI Light'">Recovery Code Invalid</span></center>

                 </div>

                 <div class="row">
                 <button type="button" id="confirm" style="margin-top: 50px;"
                         class="btn btn-default col-lg-2 col-lg-offset-5">Confirm
                    </button>

                 </div>

                </span>
        </div>


    </div>

</section>


</body>
</html>