<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        
        <title>Reset password</title>
        
        <!-- JS -->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

        <!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../Public/css/registerSuccessful.css">
        <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
        
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../Public/images/favicon.png" />  
        
    </head>
    <body>
        
        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper">
                    <h1 class="text-center">Problems signing in?</h1>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <center><p>Enter the email you registered with Cornucopia and we’ll send instructions to get you back on your feet.</p></center>
                </div>
                <div class="templatemo_home_inner_wapper">
                <center><p>Email</p><input type="email" name="email" id="email" class="form-control" onBlur=""></center>
                <span style="display:none;"><center><p>Recovery Code</p><input type="text" name="recoveryCode" id="recoveryCode" class="form-control" onBlur=""></center></span>
               </div></div></section>
    </body>
</html>