<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        <title>Registration</title>
<!--

App Landing Template

http://www.templatemo.com/tm-474-app-landing

        <!-- CSS -->
        <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../Public/css/templatemo_style.css">
        <link rel="stylesheet" href="../../Public/css/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../Public/css/normalize.css">
        
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../Public/images/favicon.png" />
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
    </head>
    <body>

    <section id="templatemo_home">
    <div class="container">
    <div class="form-header blue-gradient">
            <h2><i class="fa fa-user"></i> Sign up for free.</h2>
        </div>
		
        <!--Body-->
        <form action="../Controllers/Register.php" method="post">
        
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <label for="form3">Email</label>
            <a href="#" data-toggle="tooltip" title="Please enter valid email Address">
            <input type="email" name="email" id="email" class="form-control">
            <span role="alert" class="errormsg" id="errormsg_email" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            You entered an email that is already associated with another account.</span>
            </a>
        </div>
        
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <label for="form1">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" onblur="firstNameFunction()">
            <span role="alert" class="errormsg" id="errormsg_firstName" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            You can't leave this empty.</span>
        </div>
       
        <div class="md-form-lastName">
            <i class="fa fa-lock prefix"></i>
            <label for="form2">Last Name</label>
            <input type="lastname" name="lastName" id="lastName" class="form-control" onblur="lastNameFunction()">
             <span role="alert" class="errormsg" id="errormsg_lastName" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            You can't leave this empty.</span>
        </div>
        
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <label for="form4">Password</label>
            <input type="password" name="password" id="password" class="form-control" onblur="passwordFunction()">
            <span role="alert" class="errormsg" id="errormsg_password" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            You can't leave this empty.</span>
        </div>
        
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <label for="form4">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" onblur="confirmPasswordFunction()"> 
            
            <span role="alert" class="errormsg" id="errormsg_confirmPasswordNotMatch" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            These passwords don't match. Try again?</span> 
            <span role="alert" class="errormsg" id="errormsg_confirmPassword" style="display: none; font-size:15px; color:rgba(255,0,4,1.00);">
            You can't leave this empty.</span>
        </div>
        
        <div class="radio">
        	<i class="fa fa-lock prefix"></i>
        	<label for="form5">Gender</label>
  				<label class="btn btn-primary">
    				<input type="radio" name="options" id="option1" autocomplete="off" value="Male"> Male
  				</label>
  				<label class="btn btn-primary">
    				<input type="radio" name="options" id="option2" autocomplete="off" value="Female"> Female
  				</label>
		</div>
        
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <label for="form6">Date Of Birth</label>
            <input type="text" name="DOB" id="datepicker" class="form-control" />
        </div>
        
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <label for="form7">Country</label>
            <input type="options" name="country" id="country" class="form-control" />
        </div>
        
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <label for="form7">Occupation</label>
            <input type="text" name="occupation" id="occupation" class="form-control" />
        </div>
    
        <div class="text-md-center">
           
       	<button type="submit" class="btn btn-primary">Submit</button>
        
         <script>
  			$( function() {
    			$( "#datepicker" ).datepicker();
  			} );
 		</script>
        
        <script>
			$(document).ready(function(){
    			$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
        
        <script>
			function firstNameFunction() {
   				var x = document.getElementById("firstName");
    			if (x.value == "") {
				document.getElementById("errormsg_firstName").style.display = "block";
				}
				else{
					document.getElementById("errormsg_firstName").style.display = "none";
				}
			}
			
			function lastNameFunction() {
   				var x = document.getElementById("lastName");
				
    			if (x.value == "") {
				document.getElementById("errormsg_lastName").style.display = "block";
				}
				else{
					document.getElementById("errormsg_lastName").style.display = "none";
				}
			}
			
			function passwordFunction() {
   				var x = document.getElementById("password");
				var y = document.getElementById("confirmPassword");
				
    			if (x.value == "") {
					document.getElementById("errormsg_password").style.display = "block";
				}
				else{
					document.getElementById("errormsg_password").style.display = "none";
				}
			}
			
			function confirmPasswordFunction() {
				var x = document.getElementById("confirmPassword");
				var y = document.getElementById("password");

				if (x.value == "") {
					document.getElementById("errormsg_confirmPassword").style.display = "block";
				}
				else{
					document.getElementById("errormsg_confirmPassword").style.display = "none";
					document.getElementById("errormsg_confirmPasswordNotMatch").style.display = "none";
				}
				
				if (x.value != y.value) {
					document.getElementById("errormsg_confirmPasswordNotMatch").style.display = "block";
					document.getElementById("errormsg_confirmPassword").style.display = "none";
				}
			}		
		</script>
        
    </div>
    </form>  
    </div>
    </section>
	</body>
</html>
