<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        
        <title>Cornucopia</title>
        
        <!-- JS -->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

        <!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../Public/css/registerSuccessful.css">
        <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
        
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../Public/images/favicon.png" />
        
        <script>
(function($){$.fn.extend({leanModal:function(options){var defaults={top:100,overlay:0.5,closeButton:null};var overlay=$("<div id='lean_overlay'></div>");$("body").append(overlay);options=$.extend(defaults,options);return this.each(function(){var o=options;$(this).click(function(e){var modal_id=$(this).attr("href");$("#lean_overlay").click(function(){close_modal(modal_id)});$(o.closeButton).click(function(){close_modal(modal_id)});var modal_height=$(modal_id).outerHeight();var modal_width=$(modal_id).outerWidth();
$("#lean_overlay").css({"display":"block",opacity:0});$("#lean_overlay").fadeTo(200,o.overlay);$(modal_id).css({"display":"block","position":"fixed","opacity":0,"z-index":11000,"left":50+"%","margin-left":-(modal_width/2)+"px","top":o.top+"px"});$(modal_id).fadeTo(200,1);e.preventDefault()})});function close_modal(modal_id){$("#lean_overlay").fadeOut(200);$(modal_id).css({"display":"none"})}}})})(jQuery);
		</script>
        
        
    </head>
    <body>
        
        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper">
                    <h1 class="text-center">Registration Successful!</h1>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <h2 class="text-center">Thank you for enrolling.</h2>
                    <center><p>A verification email has been sent to you email. Please verify your email to access to your account.</p></center>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <h5 class="text-center"><a href="index.html">Back to home</a></h5>
                </div>
               </div></section>
    </body>
</html>