<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
    <title>Registration</title>
    <!--

    App Landing Template

    http://www.templatemo.com/tm-474-app-landing

            <!-- CSS -->
    <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Public/css/templatemo_style.css">
    <link rel="stylesheet" href="../../Public/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="../../Public/css/normalize.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../Public/images/favicon.png"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../Public/js/register.js"></script>


</head>
<body>

<section id="templatemo_home">
    <div class="container">
        <div class="form-header blue-gradient">
            <h2><i class="fa fa-user"></i> Sign up for free.</h2>
        </div>

        <!--Body-->
        <form id="registerForm" action="../Controllers/Register.php" method="post">

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <label for="form3">Email</label>
                <input type="email" name="email" id="email" class="form-control" onBlur="emailFunction()">
                <span role="alert" class="errormsg" id="errormsg_email"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
           </span>

            </div>

            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <label for="form1">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" onblur="firstNameFunction()">
                <span role="alert" class="errormsg" id="errormsg_firstName"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="md-form-lastName">
                <i class="fa fa-lock prefix"></i>
                <label for="form2">Last Name</label>
                <input type="lastname" name="lastName" id="lastName" class="form-control" onblur="lastNameFunction()">
                <span role="alert" class="errormsg" id="errormsg_lastName"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <label for="form4">Password</label>
                <input  pattern=".{5,10}" type="password" name="password" id="password" class="form-control" onblur="passwordFunction()">
                <span role="alert" class="errormsg" id="errormsg_password"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <label for="form4">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                       onblur="confirmPasswordFunction()">
                <span role="alert" class="errormsg" id="errormsg_confirmPassword"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="radio">
                <i class="fa fa-lock prefix"></i>
                <label for="form5">Gender</label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="Male" checked="checked"> Male
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="Female"> Female
                </label>
                <span role="alert" class="errormsg" id="errormsg_gender"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <label for="form6">Date Of Birth</label>
                <input type="text" name="DOB" id="datepicker" class="form-control" onblur="DOBFunction()">
                <span role="alert" class="errormsg" id="errormsg_DOB"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <label for="form7">Country</label>
                <span style="color:rgba(0,0,0,1.00);"><select name="country" id="country">
	<option value="AF" class="form-control">Afghanistan</option>
	<option value="AX" class="form-control">Åland Islands</option>
	<option value="AL" class="form-control">Albania</option>
	<option value="DZ" class="form-control">Algeria</option>
	<option value="AS" class="form-control">American Samoa</option>
	<option value="AD" class="form-control">Andorra</option>
	<option value="AO" class="form-control">Angola</option>
	<option value="AI" class="form-control">Anguilla</option>
	<option value="AQ" class="form-control">Antarctica</option>
	<option value="AG" class="form-control">Antigua and Barbuda</option>
	<option value="AR" class="form-control">Argentina</option>
	<option value="AM" class="form-control">Armenia</option>
	<option value="AW" class="form-control">Aruba</option>
	<option value="AU" class="form-control">Australia</option>
	<option value="AT" class="form-control">Austria</option>
	<option value="AZ" class="form-control">Azerbaijan</option>
	<option value="BS" class="form-control">Bahamas</option>
	<option value="BH" class="form-control">Bahrain</option>
	<option value="BD" class="form-control">Bangladesh</option>
	<option value="BB" class="form-control">Barbados</option>
	<option value="BY" class="form-control">Belarus</option>
	<option value="BE" class="form-control">Belgium</option>
	<option value="BZ" class="form-control">Belize</option>
	<option value="BJ" class="form-control">Benin</option>
	<option value="BM" class="form-control">Bermuda</option>
	<option value="BT" class="form-control">Bhutan</option>
	<option value="BO" class="form-control">Bolivia, Plurinational State of</option>
	<option value="BQ" class="form-control">Bonaire, Sint Eustatius and Saba</option>
	<option value="BA" class="form-control">Bosnia and Herzegovina</option>
	<option value="BW" class="form-control">Botswana</option>
	<option value="BV" class="form-control">Bouvet Island</option>
	<option value="BR" class="form-control">Brazil</option>
	<option value="IO" class="form-control">British Indian Ocean Territory</option>
	<option value="BN" class="form-control">Brunei Darussalam</option>
	<option value="BG" class="form-control">Bulgaria</option>
	<option value="BF" class="form-control">Burkina Faso</option>
	<option value="BI" class="form-control">Burundi</option>
	<option value="KH" class="form-control">Cambodia</option>
	<option value="CM" class="form-control">Cameroon</option>
	<option value="CA" class="form-control">Canada</option>
	<option value="CV" class="form-control">Cape Verde</option>
	<option value="KY" class="form-control">Cayman Islands</option>
	<option value="CF" class="form-control">Central African Republic</option>
	<option value="TD" class="form-control">Chad</option>
	<option value="CL" class="form-control">Chile</option>
	<option value="CN" class="form-control">China</option>
	<option value="CX" class="form-control">Christmas Island</option>
	<option value="CC" class="form-control">Cocos (Keeling) Islands</option>
	<option value="CO" class="form-control">Colombia</option>
	<option value="KM" class="form-control">Comoros</option>
	<option value="CG" class="form-control">Congo</option>
	<option value="CD" class="form-control">Congo, the Democratic Republic of the</option>
	<option value="CK" class="form-control">Cook Islands</option>
	<option value="CR" class="form-control">Costa Rica</option>
	<option value="CI" class="form-control">Côte d'Ivoire</option>
	<option value="HR" class="form-control">Croatia</option>
	<option value="CU" class="form-control">Cuba</option>
	<option value="CW" class="form-control">Curaçao</option>
	<option value="CY" class="form-control">Cyprus</option>
	<option value="CZ" class="form-control">Czech Republic</option>
	<option value="DK" class="form-control">Denmark</option>
	<option value="DJ" class="form-control">Djibouti</option>
	<option value="DM" class="form-control">Dominica</option>
	<option value="DO" class="form-control">Dominican Republic</option>
	<option value="EC" class="form-control">Ecuador</option>
	<option value="EG" class="form-control">Egypt</option>
	<option value="SV" class="form-control">El Salvador</option>
	<option value="GQ" class="form-control">Equatorial Guinea</option>
	<option value="ER" class="form-control">Eritrea</option>
	<option value="EE" class="form-control">Estonia</option>
	<option value="ET" class="form-control">Ethiopia</option>
	<option value="FK" class="form-control">Falkland Islands (Malvinas)</option>
	<option value="FO" class="form-control">Faroe Islands</option>
	<option value="FJ" class="form-control">Fiji</option>
	<option value="FI" class="form-control">Finland</option>
	<option value="FR" class="form-control">France</option>
	<option value="GF" class="form-control">French Guiana</option>
	<option value="PF" class="form-control">French Polynesia</option>
	<option value="TF" class="form-control">French Southern Territories</option>
	<option value="GA" class="form-control">Gabon</option>
	<option value="GM" class="form-control">Gambia</option>
	<option value="GE" class="form-control">Georgia</option>
	<option value="DE" class="form-control">Germany</option>
	<option value="GH" class="form-control">Ghana</option>
	<option value="GI" class="form-control">Gibraltar</option>
	<option value="GR" class="form-control">Greece</option>
	<option value="GL" class="form-control">Greenland</option>
	<option value="GD" class="form-control">Grenada</option>
	<option value="GP" class="form-control">Guadeloupe</option>
	<option value="GU" class="form-control">Guam</option>
	<option value="GT" class="form-control">Guatemala</option>
	<option value="GG" class="form-control">Guernsey</option>
	<option value="GN" class="form-control">Guinea</option>
	<option value="GW" class="form-control">Guinea-Bissau</option>
	<option value="GY" class="form-control">Guyana</option>
	<option value="HT" class="form-control">Haiti</option>
	<option value="HM" class="form-control">Heard Island and McDonald Islands</option>
	<option value="VA" class="form-control">Holy See (Vatican City State)</option>
	<option value="HN" class="form-control">Honduras</option>
	<option value="HK" class="form-control">Hong Kong</option>
	<option value="HU" class="form-control">Hungary</option>
	<option value="IS" class="form-control">Iceland</option>
	<option value="IN" class="form-control">India</option>
	<option value="ID" class="form-control">Indonesia</option>
	<option value="IR" class="form-control">Iran, Islamic Republic of</option>
	<option value="IQ" class="form-control">Iraq</option>
	<option value="IE" class="form-control">Ireland</option>
	<option value="IM" class="form-control">Isle of Man</option>
	<option value="IL" class="form-control">Israel</option>
	<option value="IT" class="form-control">Italy</option>
	<option value="JM" class="form-control">Jamaica</option>
	<option value="JP" class="form-control">Japan</option>
	<option value="JE" class="form-control">Jersey</option>
	<option value="JO" class="form-control">Jordan</option>
	<option value="KZ" class="form-control">Kazakhstan</option>
	<option value="KE" class="form-control">Kenya</option>
	<option value="KI" class="form-control">Kiribati</option>
	<option value="KP" class="form-control">Korea, Democratic People's Republic of</option>
	<option value="KR" class="form-control">Korea, Republic of</option>
	<option value="KW" class="form-control">Kuwait</option>
	<option value="KG" class="form-control">Kyrgyzstan</option>
	<option value="LA" class="form-control">Lao People's Democratic Republic</option>
	<option value="LV" class="form-control">Latvia</option>
	<option value="LB" class="form-control">Lebanon</option>
	<option value="LS" class="form-control">Lesotho</option>
	<option value="LR" class="form-control">Liberia</option>
	<option value="LY" class="form-control">Libya</option>
	<option value="LI" class="form-control">Liechtenstein</option>
	<option value="LT" class="form-control">Lithuania</option>
	<option value="LU" class="form-control">Luxembourg</option>
	<option value="MO" class="form-control">Macao</option>
	<option value="MK" class="form-control">Macedonia, the former Yugoslav Republic of</option>
	<option value="MG" class="form-control">Madagascar</option>
	<option value="MW" class="form-control">Malawi</option>
	<option value="MY" class="form-control">Malaysia</option>
	<option value="MV" class="form-control">Maldives</option>
	<option value="ML" class="form-control">Mali</option>
	<option value="MT" class="form-control">Malta</option>
	<option value="MH" class="form-control">Marshall Islands</option>
	<option value="MQ" class="form-control">Martinique</option>
	<option value="MR" class="form-control">Mauritania</option>
	<option value="MU" class="form-control">Mauritius</option>
	<option value="YT" class="form-control">Mayotte</option>
	<option value="MX" class="form-control">Mexico</option>
	<option value="FM" class="form-control">Micronesia, Federated States of</option>
	<option value="MD" class="form-control">Moldova, Republic of</option>
	<option value="MC" class="form-control">Monaco</option>
	<option value="MN" class="form-control">Mongolia</option>
	<option value="ME" class="form-control">Montenegro</option>
	<option value="MS" class="form-control">Montserrat</option>
	<option value="MA" class="form-control">Morocco</option>
	<option value="MZ" class="form-control">Mozambique</option>
	<option value="MM" class="form-control">Myanmar</option>
	<option value="NA" class="form-control">Namibia</option>
	<option value="NR" class="form-control">Nauru</option>
	<option value="NP" class="form-control">Nepal</option>
	<option value="NL" class="form-control">Netherlands</option>
	<option value="NC" class="form-control">New Caledonia</option>
	<option value="NZ" class="form-control">New Zealand</option>
	<option value="NI" class="form-control">Nicaragua</option>
	<option value="NE" class="form-control">Niger</option>
	<option value="NG" class="form-control">Nigeria</option>
	<option value="NU" class="form-control">Niue</option>
	<option value="NF" class="form-control">Norfolk Island</option>
	<option value="MP" class="form-control">Northern Mariana Islands</option>
	<option value="NO" class="form-control">Norway</option>
	<option value="OM" class="form-control">Oman</option>
	<option value="PK" class="form-control">Pakistan</option>
	<option value="PW" class="form-control">Palau</option>
	<option value="PS" class="form-control">Palestinian Territory, Occupied</option>
	<option value="PA" class="form-control">Panama</option>
	<option value="PG" class="form-control">Papua New Guinea</option>
	<option value="PY" class="form-control">Paraguay</option>
	<option value="PE" class="form-control">Peru</option>
	<option value="PH" class="form-control">Philippines</option>
	<option value="PN" class="form-control">Pitcairn</option>
	<option value="PL" class="form-control">Poland</option>
	<option value="PT" class="form-control">Portugal</option>
	<option value="PR" class="form-control">Puerto Rico</option>
	<option value="QA" class="form-control">Qatar</option>
	<option value="RE" class="form-control">Réunion</option>
	<option value="RO" class="form-control">Romania</option>
	<option value="RU" class="form-control">Russian Federation</option>
	<option value="RW" class="form-control">Rwanda</option>
	<option value="BL" class="form-control">Saint Barthélemy</option>
	<option value="SH" class="form-control">Saint Helena, Ascension and Tristan da Cunha</option>
	<option value="KN" class="form-control">Saint Kitts and Nevis</option>
	<option value="LC" class="form-control">Saint Lucia</option>
	<option value="MF" class="form-control">Saint Martin (French part)</option>
	<option value="PM" class="form-control">Saint Pierre and Miquelon</option>
	<option value="VC" class="form-control">Saint Vincent and the Grenadines</option>
	<option value="WS" class="form-control">Samoa</option>
	<option value="SM" class="form-control">San Marino</option>
	<option value="ST" class="form-control">Sao Tome and Principe</option>
	<option value="SA" class="form-control">Saudi Arabia</option>
	<option value="SN" class="form-control">Senegal</option>
	<option value="RS" class="form-control">Serbia</option>
	<option value="SC" class="form-control">Seychelles</option>
	<option value="SL" class="form-control">Sierra Leone</option>
	<option value="SG" class="form-control">Singapore</option>
	<option value="SX" class="form-control">Sint Maarten (Dutch part)</option>
	<option value="SK" class="form-control">Slovakia</option>
	<option value="SI" class="form-control">Slovenia</option>
	<option value="SB" class="form-control">Solomon Islands</option>
	<option value="SO" class="form-control">Somalia</option>
	<option value="ZA" class="form-control">South Africa</option>
	<option value="GS" class="form-control">South Georgia and the South Sandwich Islands</option>
	<option value="SS" class="form-control">South Sudan</option>
	<option value="ES" class="form-control">Spain</option>
	<option value="LK" class="form-control">Sri Lanka</option>
	<option value="SD" class="form-control">Sudan</option>
	<option value="SR" class="form-control">Suriname</option>
	<option value="SJ" class="form-control">Svalbard and Jan Mayen</option>
	<option value="SZ" class="form-control">Swaziland</option>
	<option value="SE" class="form-control">Sweden</option>
	<option value="CH" class="form-control">Switzerland</option>
	<option value="SY" class="form-control">Syrian Arab Republic</option>
	<option value="TW" class="form-control">Taiwan, Province of China</option>
	<option value="TJ" class="form-control">Tajikistan</option>
	<option value="TZ" class="form-control">Tanzania, United Republic of</option>
	<option value="TH" class="form-control">Thailand</option>
	<option value="TL" class="form-control">Timor-Leste</option>
	<option value="TG" class="form-control">Togo</option>
	<option value="TK" class="form-control">Tokelau</option>
	<option value="TO" class="form-control">Tonga</option>
	<option value="TT" class="form-control">Trinidad and Tobago</option>
	<option value="TN" class="form-control">Tunisia</option>
	<option value="TR" class="form-control">Turkey</option>
	<option value="TM" class="form-control">Turkmenistan</option>
	<option value="TC" class="form-control">Turks and Caicos Islands</option>
	<option value="TV" class="form-control">Tuvalu</option>
	<option value="UG" class="form-control">Uganda</option>
	<option value="UA" class="form-control">Ukraine</option>
	<option value="AE" class="form-control">United Arab Emirates</option>
	<option value="GB" class="form-control">United Kingdom</option>
	<option value="US" class="form-control">United States</option>
	<option value="UM" class="form-control">United States Minor Outlying Islands</option>
	<option value="UY" class="form-control">Uruguay</option>
	<option value="UZ" class="form-control">Uzbekistan</option>
	<option value="VU" class="form-control">Vanuatu</option>
	<option value="VE" class="form-control">Venezuela, Bolivarian Republic of</option>
	<option value="VN" class="form-control">Viet Nam</option>
	<option value="VG" class="form-control">Virgin Islands, British</option>
	<option value="VI" class="form-control">Virgin Islands, U.S.</option>
	<option value="WF" class="form-control">Wallis and Futuna</option>
	<option value="EH" class="form-control">Western Sahara</option>
	<option value="YE" class="form-control">Yemen</option>
	<option value="ZM" class="form-control">Zambia</option>
	<option value="ZW" class="form-control">Zimbabwe</option>
</select>
</span>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <label for="form7">Occupation</label>
                <input type="text" name="occupation" id="occupation" class="form-control"
                       onblur="occupationFunction()"/>
                <span role="alert" class="errormsg" id="errormsg_occupation"
                      style="display: block; font-size:15px; color:rgba(255,0,4,1.00);">
            </span>
            </div>

            <div class="text-md-center">

                <button type="submit" class="btn btn-primary">Submit</button>

                <script>
                    $(function () {

                        $("#datepicker").datepicker({
                            dateFormat: "dd-mm-yy"
                        });
                    });
                </script>


                <script>

                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip();
                        submitFunction();
                        $("#datepicker").keydown(function () {
                            return false;
                        });
						
						
                        $("#email").keyup(function () {
                            var email = $("#email").val();

                            $.post("../../Application/Controllers/CheckEmail.php",
                                    {
                                        Email: email
                                    },
                                    function (data, status) {
                                        $("#errormsg_email").text(data);
                                    });
                        });
                    });
                </script>


            </div>
        </form>
    </div>
</section>
</body>
</html>
