<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Reset password</title>
        
        <!-- JS -->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

        <!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../Public/css/registerSuccessful.css">
        <link rel="stylesheet" href="../../Public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../Public/css/font-awesome.min.css">
        
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../Public/images/favicon.png" />
        <script src="../../Public/js/ResetPassword.js"></script>

    </head>
    <body>
        
        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper">
                    <h1 class="text-center">Reset your password</h1>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <center><p>You have requested to reset your account password to access to your account.</p></center>
                </div>
                <div class="templatemo_home_inner_wapper">

                <form id="resetPassword"action="../Controllers/ResetPassword.php" method="post">
<div style="display: none">
                    <p>email</p><input type="text" name="email" id="email" class="form-control" value="<?php echo $_POST["email"]; ?>"readonly >
                    <p>recoveryCode</p><input type="text" name="recoveryCode" id="recoveryCode" class="form-control" value="<?php echo $_POST["recoveryCode"]; ?>" readonly >
</div>
                <center><p>New Password</p><input type="password" name="newPassword" id="newPassword" class="form-control" value="" ></center>
                <center><p>Confirm New Password</p><input type="password" name="confirmNewPassword" id="confirmNewPassword" value="" class="form-control">


                        <center><span id="error" style="color:Red;font-size:17px;font-family: 'Microsoft YaHei UI Light';display:none ">Password is not same</span></center>


                <button type="submit" class="btn btn-primary">OK</button></center>

                </form>
               </div></div></section>
    </body>
</html>