html {
    height: 100%;
    margin: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

body {

    max-width: 100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hideXScroll{

    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    width: inherit;
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(68).jpg") no-repeat ;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;

    min-height: 400px;
    position: relative;

    height: 100vh;

}

.sidenav {

    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {

    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#profile {


}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.transition {
    transition: margin-left .5s;

    transition: 0.5s;



}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 0px;
    }

    .sidenav a {
        font-size: 17px;
    }

}

.side-nav.fixed {

    transform: translateX(0%);
}

.double-nav .breadcrumb-dn {
    display: block;
}

.mask{
    display:block;
    width:100%;
    position:fixed;
    background:rgba(255,255,255,0.5);
    z-index:20;
    top:0;
    left:0;
    height:100%;


}

.popout {
    display:block;
    background:#eee;

    top:50%;
    left:0;
    width: 100%;
    height: 450px;
    z-index:20;
    vertical-align: middle;
    margin-top: -250px;
    position:fixed;
}

.wrapper{
    margin-left: 50px;
    margin-top: 63px;

}

.popoutInsert{

    transition: visibility 0s, opacity 0.5s linear;

}

.btnInsert{
    color: #FFFFFF;
    font-size: 30px;
    display: inline-block;
    width: 300px;
border-color: #FFFFFF;
}

.IncomeContent,.expensesContent{
    display: block;
    position: relative;
    min-height: 350px;
    text-align: center;
    width: inherit;
padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 100px;
}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    left: 40px;
    visibility: visible;
}

.btn{

   margin: 0px;
    margin-top: 3px;
}

.title{

    text-align: center;


}

hr{

    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.incomeForm,.expenseForm{

    text-align: center;
}

.footable-sortable { 
    text-align: center;
}



.footable.table th, .footable-details.table th {
    text-align: center;
}



td.footable-sortable > span.fooicon, th.footable-sortable > span.fooicon {
    position: relative;
    right: -6px;

}

